* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(to bottom, #eb5013e8, #d20c56e3);
}

.go {
  border: 3px solid orange;
  border-radius: 5px;
  padding: 20px 50px;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: white;
}
.go:hover {
  cursor: pointer;
}

.input-box {
  width: 500px;
  border-bottom: 1px solid #ddd;
  margin: 30px auto;
}
.input {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 0px;
  color: white;
  background: transparent;
}

.count-box,
.left-time-box,
.score-box {
  width: 500px;
  margin: 20px auto;
  font-size: 20px;
  color: white;
  font-family: monaco;
}
#counts,
.left-time,
.score {
  margin-left: 20px;
  color: yellow;
  font-family: monaco;
  font-size: 30px;
}

.slipping-words {
  position: absolute;
  margin-top: 300px;
  right: 0px;
  font-size: 30px;
  color: #ddd;
  font-family: monaco;
  transition: all linear 600ms;
}
